//-------------------------------------------------------
// General classes, utilities
//-------------------------------------------------------
@include base {
  //-------------------
  // Font weight
  //-------------------
  .thin {
    font-weight: $thin !important;
  }
  .light {
    font-weight: $thin !important;
  }
  .regular {
    font-weight: $regular !important;
  }
  .bold {
    font-weight: $bold !important;
  }
  //-------------------
  // Font alignment
  //-------------------
  .text-left {
    text-align: left !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
  .text-justify {
    text-align: justify !important;
  }
  //-------------------
  // Font size
  //-------------------
  .font-size-12 {
    font-size: px-to-rem(12px) !important;
  }
  .font-size-13 {
    font-size: px-to-rem(13px) !important;
  }
  .font-size-14 {
    font-size: px-to-rem(14px) !important;
  }
  .font-size-16 {
    font-size: px-to-rem(16px) !important;
  }
  .font-size-17 {
    font-size: px-to-rem(17px) !important;
  } 
  .font-size-18 {
    font-size: px-to-rem(18px) !important;
  }  
  .font-size-20 {
    font-size: px-to-rem(20px) !important;
  }    
  //-------------------
  // Font utilities
  //-------------------
	.uppercase {
		text-transform: uppercase;
	}	
  //-------------------
  // Element slignment
  //-------------------
  .vertical-middle {
    vertical-align: middle !important;
  }
  .vertical-top {
    vertical-align: top !important;
  }
  .vertical-bottom {
    vertical-align: bottom !important;
  }
  //-------------------
  // Display properties
  //-------------------
  .d-block {
    display: block !important;
  }
  .d-inline-block {
    display: inline-block !important;
  }
  .d-table {
    display: table !important;
  }
  .d-table-row {
    display: table-row !important;
  }
  .d-table-cell {
    display: table-cell !important;
  }
  .d-flex {
    display: flex !important;
  }
  //-------------------
  // Flex properties
  //-------------------
  .direction-column {
    flex-direction: column !important;
  }
  .grow-1 {
    flex-grow: 1 !important;
  }
  .grow-0 {
    flex-grow: 0 !important;
  }
  .basis-0 {
    flex-basis: 0 !important;
  }
  .basis-100 {
    flex-basis: 100% !important;
  }
  .basis-50 {
    flex-basis: 50% !important;
  }
  .shrink-1 {
    flex-shrink: 1 !important;
  }
  .shrink-0 {
    flex-shrink: 0 !important;
  }
  .center-items {
    align-items: center !important;
  }
  .justify-center {
    justify-content: center !important;
  }
  .center-self {
    align-self: center !important;
  }
  .start-self {
    align-self: flex-start !important;
  }
  .end-self {
    align-self: flex-end !important;
  }
  .flex-wrap {
    flex-wrap: wrap !important;
  }
  //-------------------
  // Position
  //-------------------
  .relative {
    position: relative !important;
  }
  //-------------------
  // Overflow
  //-------------------
  .overflow-hidden {
    overflow: hidden !important;
  }
  .overflow-auto {
    overflow: auto !important;
  }
  .overflow-scroll {
    overflow: scroll !important;
  }
  //-------------------
  // Z-index
  //-------------------  
  .z-index-1 {
    z-index: 1 !important;
  }
  //-------------------
  // Margins 0
  //-------------------
  .m-0 {
    margin: 0 !important;;
  }
  //-------------------
  // Margins 5px
  //-------------------
  .m-5 {
    margin: px-to-rem(5px) !important;
  }
  .mv-5 {
    margin-top: px-to-rem(5px) !important;
    margin-bottom: px-to-rem(5px) !important;
  }
  .mh-5 {
    margin-left: px-to-rem(5px) !important;
    margin-right: px-to-rem(5px) !important;
  }
  .mt-5 {
    margin-top: px-to-rem(5px) !important;    
  }
  .mr-5 {
    margin-right: px-to-rem(5px) !important;    
  }
  .mb-5 {
    margin-bottom: px-to-rem(5px) !important;    
  }
  .ml-5 {
    margin-left: px-to-rem(5px) !important;    
  }
  //-------------------
  // Margins 10px
  //-------------------
  .m-10 {
    margin: px-to-rem(10px) !important;
  }
  .mv-10 {
    margin-top: px-to-rem(10px) !important;
    margin-bottom: px-to-rem(10px) !important;
  }
  .mh-10 {
    margin-left: px-to-rem(10px) !important;
    margin-right: px-to-rem(10px) !important;
  }
  .mt-10 {
    margin-top: px-to-rem(10px) !important;    
  }
  .mr-10 {
    margin-right: px-to-rem(10px) !important;    
  }
  .mb-10 {
    margin-bottom: px-to-rem(10px) !important;    
  }
  .ml-10 {
    margin-left: px-to-rem(10px) !important;   
  }
  //-------------------
  // Margins 12px
  //-------------------
  .m-12 {
    margin: px-to-rem(12px) !important;
  }
  .mv-12 {
    margin-top: px-to-rem(12px) !important;
    margin-bottom: px-to-rem(12px) !important;
  }
  .mh-12 {
    margin-left: px-to-rem(12px) !important;
    margin-right: px-to-rem(12px) !important;
  }
  .mt-12 {
    margin-top: px-to-rem(12px) !important;    
  }
  .mr-12 {
    margin-right: px-to-rem(12px) !important;    
  }
  .mb-12 {
    margin-bottom: px-to-rem(12px) !important;   
  }
  .ml-12 {
    margin-left: px-to-rem(12px) !important;    
  }
  //-------------------
  // Margins 15px
  //-------------------
  .m-15 {
    margin: px-to-rem(15px) !important;
  }
  .mv-15 {
    margin-top: px-to-rem(15px) !important;
    margin-bottom: 1px-to-rem(15px) !important;
  }
  .mh-15 {
    margin-left: px-to-rem(15px) !important;
    margin-right: px-to-rem(15px) !important;
  }
  .mt-15 {
    margin-top: px-to-rem(15px) !important;    
  }
  .mr-15 {
    margin-right: px-to-rem(15px) !important;   
  }
  .mb-15 {
    margin-bottom: px-to-rem(15px) !important;   
  }
  .ml-15 {
    margin-left: px-to-rem(15px) !important;    
  }
  //-------------------
  // paddings 5px
  //-------------------
  .p-5 {
    padding: px-to-rem(5px) !important;
  }
  .pv-5 {
    padding-top: px-to-rem(5px) !important;
    padding-bottom: px-to-rem(5px) !important;
  }
  .ph-5 {
    padding-left: px-to-rem(5px) !important;
    padding-right: px-to-rem(5px) !important;
  }
  .pt-5 {
    padding-top: px-to-rem(5px) !important;    
  }
  .pr-5 {
    padding-right: px-to-rem(5px) !important;    
  }
  .pb-5 {
    padding-bottom: px-to-rem(5px) !important;    
  }
  .pl-5 {
    padding-left: px-to-rem(5px) !important;    
  }
  //-------------------
  // paddings 10px
  //-------------------
  .p-10 {
    padding: px-to-rem(10px) !important;
  }
  .pv-10 {
    padding-top: px-to-rem(10px) !important;
    padding-bottom: px-to-rem(10px) !important;
  }
  .ph-10 {
    padding-left: px-to-rem(10px) !important;
    padding-right: px-to-rem(10px) !important;
  }
  .pt-10 {
    padding-top: px-to-rem(10px) !important;   
  }
  .pr-10 {
    padding-right: px-to-rem(10px) !important;    
  }
  .pb-10 {
    padding-bottom: px-to-rem(10px) !important;    
  }
  .pl-10 {
    padding-left: px-to-rem(10px) !important; 
  }
  //-------------------
  // paddings 12px
  //-------------------
  .p-12 {
    padding: px-to-rem(12px) !important;
  }
  .pv-12 {
    padding-top: px-to-rem(12px) !important;
    padding-bottom: px-to-rem(12px) !important;
  }
  .ph-12 {
    padding-left: px-to-rem(12px) !important;
    padding-right: px-to-rem(12px) !important;
  }
  .pt-12 {
    padding-top: px-to-rem(12px) !important;    
  }
  .pr-12 {
    padding-right: px-to-rem(12px) !important;    
  }
  .pb-12 {
    padding-bottom: px-to-rem(12px) !important;    
  }
  .pl-12 {
    padding-left: px-to-rem(12px) !important;   
  }
  //-------------------
  // paddings 15px
  //-------------------
  .p-15 {
    padding: px-to-rem(15px) !important;
  }
  .pv-15 {
    padding-top: px-to-rem(15px) !important;
    padding-bottom: 1px-to-rem(15px) !important;
  }
  .ph-15 {
    padding-left: px-to-rem(15px) !important;
    padding-right: px-to-rem(15px) !important;
  }
  .pt-15 {
    padding-top: px-to-rem(15px) !important ;   
  }
  .pr-15 {
    padding-right: px-to-rem(15px) !important;    
  }
  .pb-15 {
    padding-bottom: px-to-rem(15px) !important;   
  }
  .pl-15 {
    padding-left: px-to-rem(15px) !important;   
  }
  //-------------------
  // Floats
  //-------------------
  .fl-l {
    float: left !important;
  }
  .fl-r {
    float: right !important;
  }
  .clearfix {
    &::after,
    &::before {
      content: "";
      display: table;
      clear: both;
    }
  }
  //-------------------
  // Visibility classes
  //-------------------
  .hide {
    display: none !important;
    &\@sm {
      @media(max-width: ($screen-sm - 1/16)) {
        display: none !important;
      }
    }
    &\@md {
      @media(min-width: $screen-md) and (max-width: ($screen-lg - 1/16)) {
        display: none !important;
      }
    }
    &\@lg {
      @media(min-width: $screen-lg) {
        display: none !important;
      }
    }
  }
  //-------------------
  // Colors
  //-------------------
  .white {
    color: $white !important;
  }
  .black {
    color: $black !important;
  }
  .yellow {
    color: $yellow !important;
  }
  .red {
    color: $red !important;
  }
  .blue {
    color: $blue !important;
  }
  .green {
    color: $green !important;
  }
  .gray {
    color: $gray-d2 !important;
  }
  .fill-white {
    fill: $white !important;
  }
  .fill-black {
    fill: $black !important;
  }
  .fill-yellow {
    fill: $yellow !important;
  }
  .fill-red {
    fill: $red !important;
  }
  .fill-blue {
    fill: $blue !important;
  }
  .fill-green {
    fill: $green !important;
  }
  .fill-gray {
    fill: $gray !important;
  }
  .stroke-white {
    stroke: $white !important;
  }
  .stroke-black {
    stroke: $black !important;
  }
  .stroke-yellow {
    stroke: $yellow !important;
  }
  .stroke-red {
    stroke: $red !important;
  }
  .stroke-blue {
    stroke: $blue !important;
  }
  .stroke-green {
    stroke: $green !important;
  }
  .stroke-gray {
    stroke: $gray !important;
  }
  //-----------------------------------
  // Just & only one 'line...' for text 
  //-----------------------------------
  .one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  //-----------------------------------
  // pre-lined breaked text
  //-----------------------------------
  .pre-line {
    white-space: pre-line;
    word-break: break-all;
  }
  //----------------------------
  // Width
  //----------------------------
  @for $i from 1 through 30 {
    .w-#{$i} {
      width: #{$i}rem !important;
    }
    .w-#{$i}\.5 {
      width: #{$i + 0.5}rem !important;
    }
    .w-min-#{$i} {
      min-width: #{$i}rem !important;
    }
    .w-max-#{$i} {
      max-width: #{$i}rem !important;
    }
  }
  .w-full {
    width: 100% !important;
  }
  .w-auto {
    width: auto !important;
  }
  .w-max-full {
    max-width: 100% !important;
  }
  //----------------------------
  // Height
  //----------------------------
  @for $i from 1 through 30 {
    .h-#{$i} {
      height: #{$i}rem !important;
    }
    .h-#{$i}\.5 {
      height: #{$i + 0.5}rem !important;
    }
    .h-min-#{$i} {
      min-height: #{$i}rem !important;
    }
    .h-max-#{$i} {
      max-height: #{$i}rem !important;
    }
  }
  .h-full {
    height: 100% !important;
  }
  .h-auto {
    height: auto !important;
  }
  .h-max-full {
    height: 1005 !important;
  }
}