//-------------------------------------------------------
// Grid
//-------------------------------------------------------
@include base {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
  .row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: - $grid-gutter-width;
    margin-left: - $grid-gutter-width;
  }
  .row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  
  //------------------------------
  // Grid XS
  //------------------------------
  .col-xs {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
    padding-right: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
  @for $i from 1 through 12 {
    .col-xs-#{$i},
    .col-xs-offset-#{$i},{
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
      position: relative;
    }
    .col-xs-#{$i} {
      -ms-flex-preferred-size: ($i / 12) * 100%;
      flex-basis: ($i / 12) * 100%;
      max-width: ($i / 12) * 100%;
    }
  }
  @for $i from 0 through 11 {    
    .col-xs-offset-#{$i} {
      margin-left: ($i / 12) * 100%;
    }
  }
  .start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
    
  
  @media only screen and (min-width: $screen-sm) {
    //------------------------------
    // Grid SM
    //------------------------------
    .col-sm {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;      
    }
    @for $i from 1 through 12 {
      .col-sm-#{$i},
      .col-sm-offset-#{$i},{
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
        position: relative;
      }
      .col-sm-#{$i} {
        -ms-flex-preferred-size: ($i / 12) * 100%;
        flex-basis: ($i / 12) * 100%;
        max-width: ($i / 12) * 100%;
      }
    }
    @for $i from 0 through 11 {    
      .col-sm-offset-#{$i} {
        margin-left: ($i / 12) * 100%;
      }
    }
    .start-sm {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
    .center-sm {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .end-sm {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
    .top-sm {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-sm {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-sm {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-sm {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .between-sm {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .first-sm {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
    .last-sm {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }    
  }

  @media only screen and (min-width: $screen-md) {
    //------------------------------
    // Grid MD
    //------------------------------
    .col-md {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;
    }
    @for $i from 1 through 12 {
      .col-md-#{$i},
      .col-md-offset-#{$i},{
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
        position: relative;
      }
      .col-md-#{$i} {
        -ms-flex-preferred-size: ($i / 12) * 100%;
        flex-basis: ($i / 12) * 100%;
        max-width: ($i / 12) * 100%;
      }
    }
    @for $i from 0 through 11 {    
      .col-md-offset-#{$i} {
        margin-left: ($i / 12) * 100%;
      }
    }
    .start-md {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
    .center-md {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .end-md {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
    .top-md {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-md {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-md {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-md {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .between-md {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .first-md {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
    .last-md {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }    
  } 
  @media only screen and (min-width: $screen-lg) {
    //------------------------------
    // Grid LG
    //------------------------------
    .col-lg {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
      padding-right: $grid-gutter-width;
      padding-left: $grid-gutter-width;      
    }
    @for $i from 1 through 12 {
      .col-lg-#{$i},
      .col-lg-offset-#{$i},{
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
        position: relative;
      }
      .col-lg-#{$i} {
        -ms-flex-preferred-size: ($i / 12) * 100%;
        flex-basis: ($i / 12) * 100%;
        max-width: ($i / 12) * 100%;
      }
    }
    @for $i from 0 through 11 {    
      .col-lg-offset-#{$i} {
        margin-left: ($i / 12) * 100%;
      }
    }
    .start-lg {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start;
    }
    .center-lg {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
    .end-lg {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end;
    }
    .top-lg {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .middle-lg {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .bottom-lg {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
    }
    .around-lg {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
    .between-lg {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    .first-lg {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
    }
    .last-lg {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
    }    
  }
}
//-------------------------------------------------------
// END of Layout base
//-------------------------------------------------------