//-------------------------------------------------------
// Layout base
//-------------------------------------------------------
@include base {
  //----------------------
  // Bordex box everywhere
  //----------------------
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  //----------------------------------
  // Remove the margin in all browsers
  //----------------------------------
  body {
    margin: 0;
  }
  //-------------------------------------------------
  // Add the correct display in Edge, IE, and Firefox
  //-------------------------------------------------
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  // ----------------------------------
  // Add the correct display in iOS 4-7
  // ----------------------------------
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  // ----------------------------------------------------------------
  // Add the correct vertical alignment in Chrome, Firefox, and Opera
  // ----------------------------------------------------------------
  progress {
    vertical-align: baseline;
  }
  // -----------------------------
  // Add the correct display in IE
  // -----------------------------
  template,
  [hidden] {
    display: none;
  }
  // -------------------------------------------------------
  // Remove the gray background on active links in IE 10.
  // Remove gaps in links underline in iOS 8+ and Safari 8+.
  // -------------------------------------------------------
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  // ------------------------------------------------------------------------
  // Remove the outline on focused links when they are also active or hovered
  // ------------------------------------------------------------------------
  a:active,
  a:hover {
    outline-width: 0;
  }
  // --------------------------------------------------------------------------
  // Prevent the duplicate application of `bolder` by the next rule in Safari 6
  // --------------------------------------------------------------------------
  b,
  strong {
    font-weight: inherit;
  }
  // -------------------------------------------------------
  // Add the correct font weight in Chrome, Edge, and Safari
  // -------------------------------------------------------
  b,
  strong {
    font-weight: bolder;
  }
  // ------------------------------------------
  // Add the correct font style in Android 4.3-
  // ------------------------------------------
  dfn {
    font-style: italic;
  }
  // -----------------------------------------
  // Add the correct font size in all browsers
  // -----------------------------------------
  small {
    font-size: 80%;
  }
  // -------------------------------------------------------------------------------
  // Prevent `sub` and `sup` elements from affecting the line height in all browsers
  // -------------------------------------------------------------------------------
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  // --------------------------------------------------
  // Remove the border on images inside links in IE 10-
  // --------------------------------------------------
  img {
    border-style: none;
  }
  // -----------------------
  // Hide the overflow in IE
  // -----------------------
  svg:not(:root) {
    overflow: hidden;
  }
  // ----------------------------------------------------------------
  // Correct the inheritance and scaling of font size in all browsers
  // ----------------------------------------------------------------
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
  }
  // -------------------------------------
  // Add the correct box sizing in Firefox
  // Show the overflow in Edge and IE
  // -------------------------------------
  hr {
    height: 0;
    overflow: visible;
  }
  // ---------------------------------------------------
  // Change font properties to `inherit` in all browsers
  // Remove the margin in Firefox and Safari
  // ---------------------------------------------------
  button,
  input,
  select,
  textarea {
    font: inherit;
    margin: 0;
  }
  // -------------------------
  // Show the overflow in Edge
  // -------------------------
  button,
  input {
    overflow: visible;
  }
  // ---------------------------------------------------
  // Remove the inheritance of text transform in Firefox
  // ---------------------------------------------------
  button,
  select {
    text-transform: none;
  }
  // -----------------------------------------------------------------
  // Prevent a WebKit bug where destroys native `audio` and `video`
  // controls in Android 4.
  // Correct the inability to style clickable types in iOS and Safari
  // -----------------------------------------------------------------
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  // ----------------------------------------------
  // Remove the inner border and padding in Firefox
  // ----------------------------------------------
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  // ---------------------------------------------------
  // Restore the focus styles unset by the previous rule
  // ---------------------------------------------------
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  // ------------------------------------------------------------
  // Correct the text wrapping in Edge and IE
  // Correct the color inheritance from `fieldset` elements in IE
  // Remove the padding so developers are not caught out when 
  // they zero out fieldset elements in all browsers.
  // ------------------------------------------------------------
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  // -------------------------------------------
  // Remove the default vertical scrollbar in IE
  // -------------------------------------------
  textarea {
    overflow: auto;
  }
  // ----------------------------
  // Remove the padding in IE 10-
  // ----------------------------
  [type="checkbox"],
  [type="radio"] {
    padding: 0;
  }
  // ---------------------------------------------------------------------
  // Correct the cursor style of increment and decrement buttons in Chrome
  // ---------------------------------------------------------------------
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  // -----------------------------------------------
  // Correct the odd appearance in Chrome and Safari
  // Correct the outline style in Safari
  // -----------------------------------------------
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  // ------------------------------------------------------------------------
  // Remove the inner padding and cancel buttons in Chrome and Safari on OS X
  // ------------------------------------------------------------------------
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  // ------------------------------------------------------------------
  // Correct the text style of placeholders in Chrome, Edge, and Safari
  // ------------------------------------------------------------------
  ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
  }
  // ----------------------------------------------------------------
  // Correct the inability to style clickable types in iOS and Safari
  // Change font properties to `inherit` in Safari
  // ----------------------------------------------------------------
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  [ng-click],
  [data-ng-click] {
    cursor: pointer;
  }
}
//-------------------------------------------------------
// END of Layout base
//-------------------------------------------------------