//-----------------------------------------
// Spacer for correct stacking of elements
//-----------------------------------------
@include base {
  .spacer {
    display: flex;
    flex-wrap: wrap;
    margin: px-to-rem(-5px);
  }
  .spacer__item {
    padding: px-to-rem(5px);
  }
}