@include base {
  //----------------------
  // Typography
  //----------------------
  html {
    font-family: $font-family;
    font-size: calc( #{$font-size-root} + 0.25vw);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    text-rendering: optimizeLegibility;
    font-size: $font-size-base;
    line-height: $line-height;
  }
  // ------------
  // Links
  // ------------
  a {
    color: $link-base-color;
    text-decoration: $link-base-decoration;
    &:hover,
    &:focus,
    &:active{
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
  p {
    margin-top: .5em;
    margin-bottom: .5em;
  }
  // ------------
  // Headings
  // ------------  
  h1, .h1,
  h2, .h2,
  h3, .h3{
    margin-top: 0;
    margin-bottom: 0;
  }
  h1, .h1 {
    font-size: $h1-size;
  }
  h2, .h2 {
    font-size: $h2-size;
  }
  h3, .h3 {
    font-size: $h3-size;
  }
}
//-------------------------------------------------------
// END of Layout base
//-------------------------------------------------------