//--------------------------------
// Articles
//--------------------------------
.main-article,
.hire-me {
  margin: 2em 0;
  text-align: justify;
}
.content-extend {
  margin: 0 -2em -1em -2em;
}
.hire-me {
  padding: 1em 2em;
  color: $white;
  background: #141b2b;
}