//--------------------------------
// Header
//--------------------------------
.header {
  padding: 5em 1rem 1em;
  color: $white;
  background-color: #141b2b;
}
.header__title {
  margin-top: 0;
  margin-bottom: 0;
}