//--------------------------------
// Navigation
//--------------------------------
.nav {
  color: $black;
  background-color: #dddee2;
  box-shadow: 0 -6px 0 0 #c4c6d0 inset;
  ol {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 -2em;
  }
}
.nav__li {
  padding: 1em 2em;
  > a {
    color: $black;
  }
}
.nav__li--active {
  font-weight: 700;
  box-shadow: 0 -6px 0 0 $green inset;
}