//--------------------------------
// Story
//--------------------------------
.story {
  padding: 2em 1em;
  color: $white;
  background-color: #0077dc;
  p {
    margin: 0;
    text-align: justify;
    
  }
}