//--------------------------------
// Global mixins here
//--------------------------------
// !!!!!!!!!!!!!!!!!!!!!!!!!!!! //
//------------------------------------------------------
// Mixins related to modules are placed at the very top
// of the _module.scss file
//------------------------------------------------------

//---------------------------------
// Mixin for layout base properties
//---------------------------------
@mixin base {
  @if ( $output=='base') {
    @content;
  }
}
//---------------------------------
// Mixin for both style properties
//---------------------------------
@mixin style {
  @if ( $output=='dark' or $output=='light') {
    @content;
  }
}
//---------------------------------
// Mixin for both dark style
//---------------------------------
@mixin dark {
  @if ( $output=='dark') {
    @content;
  }
}
//---------------------------------
// Mixin for light style properties
//---------------------------------
@mixin light {
  @if ( $output=='light') {
    @content;
  }
}
//---------------------------------
// Hide browser seletion color 
//---------------------------------
@mixin select-none {
  &::-moz-selection {
    background: transparent
  }
  &::selection {
    background: transparent;
  }
}
//-----------------------------------
// Prefix for properties
//-----------------------------------
@mixin prefix($property, $value) {
  -o-#{$property}: $value;
  -moz-#{$property}: $value;
  -webkit-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}
//-------------------------------------------------------
// Scrollbars
//-------------------------------------------------------
@mixin custom-scrollbar {
  ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }
  ::-webkit-scrollbar-track {
      background-color: #383838;
      -webkit-border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:vertical {
      background-color: #555555;
      -webkit-border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:vertical:hover,
  ::-webkit-scrollbar-thumb:horizontal:hover {
      background: #656565;
  }
  ::-webkit-scrollbar-thumb:horizontal {
      background-color: #555555;
      -webkit-border-radius: 6px;
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
  body {
    scrollbar-base-color: #555555;
    scrollbar-3dlight-color: #555555;
    scrollbar-highlight-color: #555555;
    scrollbar-track-color: #383838;
    scrollbar-arrow-color: #555555;
    scrollbar-shadow-color: #555555;
    scrollbar-dark-shadow-color: #555555;
  }
}