$output: 'base' !default;
//----------------------------------------
// Colors
//----------------------------------------
$black:                                       #000;
$black-l:                                     #1a1a1a; // bg page
$black-l2:                                    #262626; // sub content
$black-l3:                                    #2c2c2c; // module head
$black-l4:                                    #383838; // content
$black-l5:                                    #333333; // header right
$black-l6:                                    #3a3a3a; // header middle
$black-l7:                                    #424242; // header left
$black-l8:                                    #505050; // buttons, checkbox
$black-l9:                                    #636363;

$green:                                       #1abb9c;
$green-l:                                     #2EC77A;
$red:                                         #E26446;
$red-l:                                       #F6785A;
$blue:                                        #0274b5;
$blue-l:                                      #559cff;

$white:                                       #fff;    // content + header left
$white-d:                                     #f8f8f8; // header middle
$white-d2:                                    #E6E6E6; // module head, buttons, checkboxes
$white-d3:                                    #E1E1E1; // sub content
$white-d4:                                    #E0E0E0; // header right
$white-d5:                                    #d5d5d5; // bg page 
$white-d6:                                    #cccccc; // 
$white-d7:                                    #b4b4b4;
$white-d8:                                    #a7a7a7;

$gray:                                        #848484;
$gray-d:                                      darken($gray,10);
$gray-d2:                                     darken($gray,20);
$gray-d3:                                     darken($gray,30);

$yellow:                                      #F7AE1F;
$yellow-l:                                    #FFCB00;
//---------------------
// Typo
//---------------------
$font-size-root:                              16px  !default;
$font-size-base:                              1rem  !default; // 14px
$line-height:                                 1.4   !default;
$font-family:                                 'PT Serif', Arial, sans-serif !default;

$h1-size:                                     2rem    !default; //24px
$h2-size:                                     1.5rem  !default; //18px
$h3-size:                                     1rem      !default; //16px

$thin:                                        100 !default;
$light:                                       300 !default;
$regular:                                     400 !default;
$bold:                                        700 !default;

$heading-top-margin:                          1.25rem !default; //20px

$link-base-color:                             $yellow !default;
$link-hover-color:                            $yellow !default;
$link-base-decoration:                        none !default;
$link-hover-decoration:                       none !default;
//---------------------
// Breakpoints
//---------------------
$screen-sm:                                   30em       !default; //480px
$screen-md:                                   60em       !default; //960px
$screen-lg:                                   90em       !default; //1440px
//---------------------
// Spacing
//---------------------
$base-space:                                  0.625rem !default; //10px
//---------------------
// Grid
//---------------------
$grid-gutter-width:                           $base-space !default;
$grid-columns:                                12 !default;
//---------------------
// Transition
//---------------------
$cubic-bezier:      cubic-bezier(0.250, 0.460, 0.450, 0.940) !default;